<style>
  .red-text {
    color: #FF0000; /*solution*/
  }
  .green-text {
    color: #00FF00; /*solution*/
  }
  .dodger-blue-text {
    color: #1E90FF; /*solution*/
  }
  .orange-text {
    color: #FFA500; /*solution*/
  }
</style>

<h1 class="red-text">I am red!</h1>

<h1 class="green-text">I am green!</h1>

<h1 class="dodger-blue-text">I am dodger blue!</h1>

<h1 class="orange-text">I am orange!</h1>
